{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="bg-success p-2 text-dark bg-opacity-10"><h3 style="text-align: center">Корзина</h3></div>
<table class="cart">
  {% for item in cart %}
  {% with product=item.product %}
  <tr>
    <td>
      <a href="{{ product.get_absolute_url }}">
        <img src="{{ product.photo.url }}" width="250">
      </a>
    </td>
    <td>{{ product.name }}</td>
    <td>
      <form action="{% url "cart:cart_add" product.id %}" method="post">
      {{ item.update_quantity_form.quantity }}
      {{ item.update_quantity_form.update }}
      <input type="submit" class="ddd" value="Обновить" style="color: #E5E5E5; background-color: #0C7264; width: 170px; height: 46px; border-radius: 10px">
      {% csrf_token %}
      </form>
    </td>
    <td><a style="text-decoration: none; font-size: 20px" href="{% url "cart:cart_remove" product.id%}">Убрать</a></td>
    <td class="num">{{ item.total_price }} тг</td>
  </tr>
  {% endwith %}
  {% endfor %}
  </tbody>
</table>
<p class="text-right">
  <a style="text-decoration: none; font-size: 20px" href="{% url "product_list" %}" class="button light"
  >Продолжить</a>
<hr>

<a style="text-decoration: none; font-size: 20px" href="{% url "orders:order_create" %}" class="button">Оформить заказ</a>
</p>
{% endblock %}