0x-json-schemas==2.1.0
amqp==5.0.6
appdirs==1.4.4
asgiref==3.4.1
attrs==20.3.0
billiard==3.6.4.0
celery==5.1.2
certifi==2020.12.5

click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.5
django-ckeditor==6.2.0
django-cors-headers==3.7.0
django-debug-toolbar==3.2.4
django-filter==2.4.0
django-js-asset==2.0.0
django-ranged-response==0.2.0
django-redis==5.0.0
django-redis-cache==3.0.0

django-templated-mail==1.1.1
djangorestframework==3.12.4
djoser==2.1.0

drf-yasg==1.20.0
dump==0.0.5
environs==9.3.2
filelock==3.0.12
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0

Markdown==3.3.6

mypy-extensions==0.4.3
mysql-connector==2.2.9
mysqlclient==2.1.0
num2words==0.5.10
oauthlib==3.1.1
Pillow==8.3.1
psycopg2==2.9.3
python-redis-lock==3.7.0
pytz==2021.1
redis==3.5.3
redis-simple-cache==0.0.8
social-auth-core==4.1.0
uritemplate==3.0.1
urllib3==1.26.4
utils==1.0.1
virtualenv==20.4.7

