{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="product-detail">
        <img src="{{ product.photo.url }}" width="250">
        <h1>{{ product.name }}</h1>
        <h2>
            <a style="text-decoration: none" href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
        </h2>
        <p class="price">{{ product.price }} тг</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input style="font-size: 17px; color: #E5E5E5; background-color: #0C7264; width: 170px; height: 46px; border-radius: 10px" type="submit" value="Добавить в корзину">
        </form>
        <p class="fst-italic">{{ product.description|linebreaks }}</p>
    </div>
{% endblock %}